save0.sav
save0-ext.dat
save1.sav
save1-ext.dat
save2.sav
save2-ext.dat
save3.sav
save3-ext.dat
save4.sav
save4-ext.dat
save5.sav
save5-ext.dat
save6.sav
save6-ext.dat
save7.sav
save7-ext.dat
save8.sav
save8-ext.dat
save9.sav
save9-ext.dat
save10.sav
save10-ext.dat
save11.sav
save11-ext.dat
save15.sav
save15-ext.dat
save100.sav
save100-ext.dat
exeextracted
Where SMB Attacks (Remake)/save1-ext.dat
LuaData_Save1_save.txt
LuaData_Save0_save.txt
Super Mario All-Stars++/save10.dat
